/*.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}

.container > * {
  border: 3px solid red;
  border-radius: 5px;
  padding: 10px;
}

main {
  min-height: 400px;
}

@media (min-width: 576px) {
  .container {
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  nav {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 3;
  }

  main {
    grid-column: 2;
    grid-row: 3;
    height: 500px;
  }

  .ads {
    grid-column: 1;
    grid-row: 4;
  }

  footer {
    grid-column: 2;
    grid-row: 4;
  }
}


@media (min-width: 768px) {
  .container {
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  nav {
    grid-column: 2;
    grid-row: 2;
  }

  main {
    grid-column: 2;
    grid-row: 3;
    height: 500px;
  }

  .ads {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  footer {
    grid-column: 1 / -1;
    grid-row: 4;
  }
}*/

.container {
    display: grid;
    gap: 10px;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "header"
    "navigation"
    "main"
    "sidebar"
    "ads"
    "footer";
}

.container > * {
    border: 3px solid red;
    border-radius: 5px;
    padding: 10px;
}

main {
    min-height: 400px;
}

header   { grid-area: header; }
nav      { grid-area: navigation; }
main     { grid-area: main; }
.sidebar { grid-area: sidebar; }
.ads     { grid-area: ads; }
footer   { grid-area: footer; }


@media (min-width: 576px) {
    .container {
        grid-template-columns: 150px 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
      "header header"
      "navigation navigation"
      "sidebar main"
      "ads footer";
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 200px 2fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
      "header  header   header"
      "sidebar navigation ads"
      "sidebar main       ads"
      "footer  footer    footer";
    }
}