body{
    margin: 0;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.30);
}

header{
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.wrapper{
    width: 1140px;
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 15px;
}

li{
    margin: 15px;
    float: left;
}

li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background: rgb(225, 112, 53);
    border-radius: 10px;
}

.nav-logo{
    float: left;
}

.navbar{
    float: right;
}

main{
    clear: both;
}

.block {
    float: left;
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 2px;
}

.block h3 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.block img {
    width: 100%;
    height: auto;
    display: block;
}

.block p {
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

.block-1 {
    border: 1px solid green;
    box-shadow: -5px -5px 10px green;
}

.block-2 {
    border: 2px solid green;
    box-shadow: 0 0 20px 15px rgba(0, 128, 0, 0.9);
}

.block-3 {
    border: 3px solid green;
    box-shadow: 10px 10px 10px rgba(0, 128, 0, 0.6);
}

.block-4 {
    border: 2px solid green;
    box-shadow: 0 0 25px 5px rgba(0, 255, 0, 0.7);
}

.block-5 {
    border: none;
    box-shadow: 0 -5px 0 0 green, 5px 0 0 0 blue, 0 5px 0 0 orange, -5px 0 0 0 red;
}

.block-6 {
    border: 2px solid green;
    box-shadow: 0 -5px 0 0 orange, 0 0 0 0 green, 0 5px 0 0 green, 0 0 0 0 green;
}
