a {
    color: purple;
}

a.main {
    color: green;
}

ul.berries li {
    list-style-type: square;
}

ul.vegetables li {
    list-style-image: url("li.svg");
}

ul {
    list-style-type: none;
    margin-left: 20px;
    padding-left: 10px;
}

ul li a.other {
    text-decoration: none;
    color: black;
}

ol {
    list-style-position: inside;
    margin-left: 25px;
    padding-left: 0;
}