* {
    font-family: Arial;
    font-size: 20px;
    line-height: 40px;
}

p {
    color: #008000;
    text-align: center;
}

div {
    text-align: justify;
}


.text-color {
    color: #ff0000;
}

.nowrap {
    white-space: nowrap;
}

#special-text {
    font-style: italic;
    font-weight: bold;
}

.shadow {
    text-shadow: 5px -5px 3px #ff0000;
}

.crossed-out-text {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.spaced {
    letter-spacing: 30px;
    word-spacing: 50px;
}