* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column {
    grid-row: span 2;
}

.center {
    grid-row: span 3;
    grid-column: span 3;
}

/* Медіа-запит для екранів шириною 768px і менше (планшети) */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(4, 1fr); /* 4 колонки для планшетів */
    }

    .center {
        grid-row: span 2; /* Зменшуємо рядки для центру */
        grid-column: span 2; /* Зменшуємо колонки для центру */
    }

    .column {
        grid-row: span 1; /* Знімаємо span для колонок */
    }
}

/* Медіа-запит для екранів шириною 576px і менше (мобільні) */
@media (max-width: 576px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки для мобільних */
    }

    .center {
        grid-row: span 1; /* Знімаємо span для центру */
        grid-column: span 1;
    }

    .column {
        grid-row: span 1; /* Знімаємо span для колонок */
    }
}