p.text-bg span {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

div .text-bg span {
    background-color: yellow;
}

span span {
    background-color: #c0c0c0;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 0.813);
    text-indent: 50px;
}

li > ul {
    list-style-image: url("li.svg");
}

p > div.text-bg{
    word-spacing: 50px;
}

div.text-bold > p {
    font-weight: bold;
}

div.text-bold + section p {
    line-height: 45px;
}

img + p {
    background-color: #a0522d;
}

section ~ p {
    color: #ff0000;
}