body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.form-container {
    width: 620px;
    border: 20px solid #868686;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
    margin: 50px auto;
}

.form-container h1 {
    text-align: center;
    font-size: 25px;
    color: #831ab5;
    font-weight: 700;
    font-style: italic;
    margin: 20px 0 40px 0;
    position: relative;
    transition: all 0.4s ease;
}

.main-text {
    display: inline-block;
}
.main-text::first-letter {
    font-size: 125%;
    color: #cd20e1;
}
.hover-text {
    display: none;
}



.form-container h1::before,
.form-container h1::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 3px;
    background-color: red;
    transition: all 0.4s ease;
}

.form-container h1::before {
    left: 0;
    width: 25%;
}

.form-container h1::after {
    right: 0;
    width: 25%;
}

.form-container:hover h1 .main-text {
    display: none;
}
.form-container:hover h1 .hover-text {
    display: inline-block;
}
.form-container:hover h1 .hover-text::first-letter {
    font-size: 125%;
    color: #cd20e1;
}

.form-container:hover h1::before {
    width: 0;
    left: 50%;
}
.form-container:hover h1::after {
    width: 80%;
    margin: 0 auto;
    left: 0;
    top: auto;
    bottom: -10px;
    background-color: limegreen;
}

.fields-grid {
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.field-group {
    margin-bottom: 20px;
}

.float--left {
    float: left;
    width: 250px;
}
.float--right {
    float: right;
    width: 250px;
}

.form-container label {
    display: block;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    opacity: 0.6;
    border: none;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 250px;
    height: 30px;
}

.field--fullwidth {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.form-container textarea {
    width: 100%;
    height: 46px;
    resize: none;
    padding: 5px 10px;
}

.form-container input[type="text"]:hover,
.form-container input[type="email"]:hover {
    border-bottom: 4px solid #fbf000;
}
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus {
    border-bottom: 4px solid #ffa600;
    opacity: 0.8;
}

.form-container input[type="password"]:hover {
    border-bottom: 4px solid #1cff00;
}
.form-container input[type="password"]:focus {
    border-bottom: 4px solid #00ffea;
    opacity: 0.8;
}

.form-container textarea:hover {
    box-shadow: 0 0 10px 10px rgba(233, 27, 154, 0.6);
}

.buttons-container {
    text-align: center;
    margin-top: 10px;
}

.btn {
    width: 130px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;
}

.btn--reset {
    border: 3px solid #e64a19;
    color: #e64a19;
    margin-right: 20px;
}
.btn--reset:hover {
    border-color: #c64a19;
    color: white;
    background-color: #c64a19;
    border-radius: 15px;
}
.btn--reset:active {
    border-color: #ecfd00;
    background-color: #ffe904;
    border-radius: 25px;
}

.btn--ok {
    border: 3px solid #0097a7;
    color: #0097a7;
}
.btn--ok:hover {
    border-color: #0097a7;
    color: white;
    background-color: #0097a7;
    border-radius: 15px;
}
.btn--ok:active {
    border-color: #ecfd00;
    background-color: #014950;
    border-radius: 25px;
}

.btn:active::after {
    content: "»";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.btn--reset:active::after {
    color: #c64a19;
}

.btn--ok:active::after {
    color: #ecfd00;
}