.wrapper {
    position: absolute;
}

.block {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
    margin: 15px;
    cursor: pointer;
    border: solid black;
}

.block-1 {
    width: 150px;
    color: #000000;
    height: 50px;
    background-color: green;

}

.block-2 {
    width: 150px;
    display: none;
    height: 120px;
    background-color: blue;

}

.block-3 {
    position: absolute;
    background-color: #4b3e7a;
    display: none;
    width: 250px;
    height: 185px;
    top: 0;
    bottom: 10px;
    left: 165px;
    right: 10px;
}

.block-1:hover + .block-2 {
    display: block;
}

.block-2:hover + .block-3 {
    display: block;
}

.wrapper:hover .block-2 {
    display: block;
}

.wrapper:hover .block-2:hover + .block-3 {
    display: block;
}

.wrapper:hover .block-2:hover {
    display: block;
}