body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e4e4e4;
    padding-top: 100px;
}
.weather-widget {
    padding: 5px 0 20px 60px;
    position: relative;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    background: #a7a7a7;
}

.widget-main {
    position: relative;
    width: 220px;
    height: 200px;
    background: #1a1a1a;
    color: white;
    z-index: 2;
    box-shadow: 10px 10px 30px #1a1a1a;
}

.arrow-nav {
    position: absolute;
    top: 60px;
    left: -40px;
}

.arrow-nav button {
    display: inline-block;
    padding: 5px 8px;
    color: black;
    opacity: 0.4;
    font-size: 22px;
}

.arrow-nav button:hover {
    opacity: 1;
}

.temperature {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 80px;
    font-weight: 300;
}

.weather-icon {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 180px;
    z-index: 10;
    filter: drop-shadow(5px 5px 15px #373737);
}

.widget-forecast {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 200px;
    height: 100px;
    background: #d6d6d6;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px #6a6a6a;
    padding: 10px;
}

.forecast-list {
    list-style: none;
    padding: 0;
    margin-top: 60px;
}

.forecast-list::after {
    content: '';
    display: table;
    clear: both;
}

.forecast-day {
    float: left;
    width: 20%;

    text-align: center;
    color: #333;
}

.forecast-day .day-name {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.forecast-day .day-temp {
    display: block;
    font-size: 16px;
    margin-top: 4px;
}
